<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-semibold mb-4">Echo Weather</h1>

  <%= render "search_form" %>

  <%= render "current", weather_current: @weather_current, cached_message: @cached_message %>
</div>
